script(src='../texlive.js/promisejs/promise.min.js')
script(src='../texlive.js/pdftex.js')
script(src='../promise-6.1.0.js')
script(src='../ramda-0.19.1.min.js')
script(src='../jquery-2.1.4.min.js')
script(src='../select2-4.0.1/js/select2.min.js')
script(src='../indexeddb.js')
//script(src='../remotestorage-0.12.0.min.js')
//script(src='../remote_storage.js')
script(src='../storage.js')
script(src='../models.js')
script(src='../print_bills.js')
script(src='../nav.js')

