meta(charset="utf-8")

link(href="../bootstrap-4.0.0-alpha.2/dist/css/bootstrap.min.css" rel="stylesheet")
link(href="../select2-4.0.1/css/select2.min.css" rel="stylesheet")
link(href="../font-awesome-4.5.0/css/font-awesome.min.css" rel="stylesheet")

