!!! 5
html(lang="en")
  head
    include head.jade
    title Importer

  body
    textarea#customers []
    textarea#items []
    textarea#bills []
    textarea#billing_items []
    button#start import

    include foot.jade
    script(src='../import.js')

