!!! 5
html(lang="en")
  head
    include head.jade
    title Leistungen

  body
    - var nav = 'items'
    include nav.jade

    .container(style='padding-top: 80px;')
        form
          .form-group.row
            label(for='description').col-sm-2.form-control-label Name
            .col-sm-8
              input(name='description' autofocus).form-control

          .form-group.row
            label(for='number').col-sm-2.form-control-label Ziffer
            .col-sm-2
              input(name='number').form-control

          .form-group.row
            label(for='price').col-sm-2.form-control-label Preis
            .col-sm-2
              input(name='price').form-control

          .form-group.row
            .col-sm-offset-2.col-sm-8
              a.btn.btn-primary(href='item_list.html')#save Speichern

    include foot.jade
    script(src='../item.js')

